<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Оформление заказа</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="static/styles.css" rel="stylesheet" />
</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/restaurant3">Оформление заказа</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/restaurant3">Главная страница ресторана</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Order section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6">
                    <h1 class="display-5 fw-bolder">Оформление заказа</h1>
                    <p></p>
                    <form action="/submit_order" method="POST" id="order_form">
                        <!-- Отображение названия блюда и цены -->
                        <div class="mb-3">
                            <h2><label for="food_name" class="form-label">Название еды:</label>
                            <span id="food_name">{{ food_name }}</span></h2>
                        </div>
                        <div class="mb-3">
                            <h3><label for="cost_of_eat" class="form-label">Цена за единицу:</label>
                            <span id="cost_of_eat">{{ cost_of_eat }}</span> руб.</h3>
                        </div>
                        <label for="quantity">Количество:</label>
                        <input type="number" name="quantity" id="quantity" required>
                        <p></p>
                        <div class="mb-3">
                            <label for="name" class="form-label">Имя</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">Номер телефона</label>
                            <input type="tel" class="form-control" id="phone" name="phone" required>
                        </div>
                        <div class="mb-3">
                            <label for="address" class="form-label">Адрес</label>
                            <textarea class="form-control" id="address" name="address" rows="3" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="total">Итог:</label>
                            <span id="total">0</span> руб. <!-- Здесь будет отображаться итоговая сумма -->
                        </div>
                        <button type="submit" class="btn btn-primary">Оформить заказ</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script>
        // Получаем элементы из DOM
        const quantityInput = document.getElementById('quantity');
        const costOfEatSpan = document.getElementById('cost_of_eat');
        const totalSpan = document.getElementById('total');

        // Слушаем событие изменения количества
        quantityInput.addEventListener('change', () => {
            const quantity = parseInt(quantityInput.value);
            const costOfEat = parseFloat(costOfEatSpan.textContent);
            const total = quantity * costOfEat; // Вычисляем итоговую сумму
            totalSpan.textContent = total.toFixed(2); // Отображаем итоговую сумму с двумя знаками после запятой
        });
    </script>
    <!-- Related items section-->
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Сервис по доставке еды 2024</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>